.funny-glasses {
    position: relative;
    left: 213px;
    bottom: 105px;
}
.bandana {
    position: absolute;
    top: 175px;
    left: 115px;
}
.pawprint {
    position: fixed;
    top: 45px;
    left: 65px;
}
.luna {
    position: absolute;
    z-index: 1;
}
.stick-clothing {
    position: relative;
    z-index: 2;
}
.top-hat {
    z-index: 1;
}